/* Core Styles */

body {
    background: #000 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

.container h1 {
    color: #ad974f !important;
    font-size: 3em;
}

.container p {
    font-size: 1.2em;
    padding: 1em;
    color: #eaeaea;
}

/* Navbar Styles */

.nav {
    padding: 1em 0;
}

ul li a {
    text-decoration: none;
    color: #eaeaea;
    background: #000;
    border: 1px solid #ad974f;
    border-radius: 5px;
    margin: .5em;
}

ul li a:hover {
    text-decoration: none;
    text-overflow: none;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background: #ad974f;
    color: #eaeaea !important;
}

/* About Styles */

footer p {
    text-align: left;
    color: #eaeaea;
    font-size: 1em;
}

a.btn {
    color: #eaeaea;
    background: #000;
    border: 1px solid #ad974f;
}

a.btn:hover {
    color: #eaeaea;
    background: #ad974f;
    text-align: center;
    border: 1px solid #eaeaea;
}

/* Portfolio */

h1 {
    color: #eaeaea !important;
    text-align: center;
}

img.me {
    width: 50%;
    float: right;
}

/* Carousel Image */

.carousel-inner,
carousel-item,
img {
    margin: 0;
}

/* Footer */

footer {
    text-align: center;
    padding: .5em 0;
    background: #eaeaea;
}

footer p {
    text-align: center;
    padding-top: 1em;
    color: #000;
}

.container i {
    color: #000 !important;
    margin: 0 .2em;
}

.container i:hover {
    color: #ad974f !important;
}

.fa-heart {
    color: red !important;
}